:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    /* Default: Light mode */
    --static-background: #cccccc;
    --header-background: #f3f3f3;
    --main-background: #e7e7e7;
    --primary-text-color: #222222;
    --opposite-text-color: #ffffff;
    --sun-color: #ffae00;
    --sun-font-size: 2.1rem;
    --sun-opacity: 1.0;
    --sun-z-index: 1;
    --moon-color: #222222;
    --moon-font-size: 1.3rem;
    --moon-opacity: 0.5;
    --moon-z-index: 0;

    --accent-one: #ffae00;
    --accent-two: #c18606;
    
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    background-color: var(--static-background);
    color: var(--primary-text-color);
}

body.dark {
    /* Dark mode */
    --static-background: #101010;
    --header-background: #242424;
    --main-background: #1c1c1c;
    --primary-text-color: #ffffff;
    --opposite-text-color: #222222;
    --sun-color: #ffae00;
    --sun-font-size: 1.3rem;
    --sun-opacity: 0.5;
    --sun-z-index: 0;
    --moon-color: #ffffff;
    --moon-font-size: 2.1rem;
    --moon-opacity: 1.0;
    --moon-z-index: 1;
}

@media (prefers-color-scheme: dark) {
    body {
        --static-background: #101010;
        --header-background: #242424;
        --main-background: #1c1c1c;
        --primary-text-color: #ffffff;
        --opposite-text-color: #222222;
        --sun-color: #ffae00;
        --sun-font-size: 1.3rem;
        --sun-opacity: 0.5;
        --sun-z-index: 0;
        --moon-color: #ffffff;
        --moon-font-size: 2.1rem;
        --moon-opacity: 1.0;
        --moon-z-index: 1;
    }
    body.light {
        --static-background: #cccccc;
        --header-background: #f3f3f3;
        --main-background: #e7e7e7;
        --primary-text-color: #222222;
        --opposite-text-color: #ffffff;
        --sun-color: #ffae00;
        --sun-font-size: 2.1rem;
        --sun-opacity: 1.0;
        --sun-z-index: 1;
        --moon-color: #222222;
        --moon-font-size: 1.3rem;
        --moon-opacity: 0.5;
        --moon-z-index: 0;
    }
}

header {
    position: sticky;
    background-color: var(--header-background);
    padding: 0 5vw;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6vh;
}

main, footer {
    width: calc(70vw + 80px);
    background-color: var(--main-background);
    margin: 0 auto;
}

main {
    flex: 2;
    /* on mobile, the gutters should be minimum 16px */
    padding: 4rem 2rem;
    width: calc(70vw + 80px);
}

footer {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
}

footer * {
    margin: 2vh auto;
}

footer a {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: none;
}

#toggle-theme {
    border: 2px solid var(--primary-text-color);
    border-radius: 3px;
    height: 80%;
    width: 100px;
}

#toggle-theme:hover {
    transform: scale(110%);
}

#light {
    color: var(--sun-color);
    opacity: var(--sun-opacity);
    font-size: var(--sun-font-size);
    z-index: var(--sun-z-index);
}

#dark {
    color: var(--moon-color);
    opacity: var(--moon-opacity);
    font-size: var(--moon-font-size);
    z-index: var(--moon-z-index);
}

main .button {
    overflow: hidden;
    background: none;
    width: 250px;
    height: 50px;
    border: 2px solid var(--accent-two);
    transition: color 0.3s ease-out;
    font-weight: bold;
    color: var(--primary-text-color);
}

main .button:hover,
main .button:active,
main .button:focus,
main .button:focus-visible,
main .button:focus-within {
    color: var(--opposite-text-color);
    transition: color 0.2s ease-in;
}

.button a {
    margin: 0.8rem 1rem;
    z-index: 1;
}

main .button div {
    position: absolute;
    background-color: var(--accent-one);
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3 ease-out;
}

main .button:hover div {
    transform: translateX(0);
    transition: transform 0.2s ease-in;
}

.expandable {
    margin-top: 1rem;
    padding: 2px 0.8rem;
    border: none;
    font-size: 1.8rem;
    color: var(--primary-text-color);
    width: 100%;
    background: none;
    text-align: left;
    border-bottom: 1px solid var(--accent-two);
}

.expandable::after {
    content: "\002B";
    font-weight: bold;
    float: right;
}

.expandable:hover, .active {
    background-color: #c18606;
    cursor: pointer;
}

.active::after {
    content: "\2212";
}

.content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

main i {
    margin: 0 3px;
    font-size: 40px;
    transition: all 0.3s ease-out;
}

main i:hover,
main i:active,
main i:focus {
    transform: scale(110%);
    color: var(--accent-one);
    transition: all 0.1s ease-in;
}

h2 {
    font-size: 1.3rem;
}