:root {
    font-size: 16px;
    /* default */
    --static-background: #1c1c1c;
    --main-background: #101010;
    --primary-text-color: #ffffff;
    --opposite-text-color: #000000;
    --accent-one: #ffae00;
    --accent-two: #c18606;
}

:root.dark {
    /* testing dark mode */
    color: red;
}

body {
    background-color: var(--static-background);
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--primary-text-color);
}

section {
    /* on mobile, the gutters should be minimum 16px */
    margin: 0 auto;
    padding: 1rem;
    width: calc(70vw + 80px);
    background-color: var(--main-background);
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    section {
        width: calc(100% - 3rem);
    }
}

.header {
    margin: 0;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.content {
    padding: 4rem 2rem;
    min-height: 60vh;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

ul li:not(:first-child) {
    padding-left: 10px;
}

.button {
    width: fit-content;
    background-color: #1c1c1c;
    padding: 0.8rem 1rem;
    border: 2px solid var(--accent-two);
    transition: all 0.2s;
}

.button:active, .button:focus {
    color: var(--accent-one);
    border: var(--accent-one);
}

a {
    text-decoration: none;
    color: inherit;
}
